/* GLOBAL STYLES */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;   
}

header {
  top: 0px;
  height: 82px;
  width: 100%;
  background-color: white;
  display: flex;
  position: fixed;
  z-index: 5;
  padding-left: 40px;
  border-bottom: green solid 2px;
}

footer {
  background-color: #09C72F;
  margin-top: 60px;
  height: 60px;
  text-align: center;
  padding-top: 15px;
  color: white;
}


label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

input[type="text"], input[type="mail"] {
    display: block;
    width: 88%;
    height: 24px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

img {
  width: 100%;
  margin-bottom: -5px;
}

a {
  color: black;
  text-decoration: none;
  text-align: center;
}

nav {
  display: flex;
  position: fixed;
  right: 10%;
}

#page {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* NAVBAR */
nav div {
  width: 100px;
  line-height: 81px;
}

nav div:hover {
  line-height: 79px;
  font-weight:bold;
  border-top: 2px solid green;
}

#logo {
  width: 250px;
  padding: 13px;
}

#button-nav {
  height: 82px;
  width: 90.5px;
  text-align: center;
  line-height: 82px;
  display: none;
  position: fixed;
  right: 5%;
}

/* SLIDER */ 
#slide-group {
  background-image: url("../picture/lyon.jpg");
  background-size: cover;
  border : black solid 2px;
  border-radius: 7px;
   margin-top: 100px;
   margin-bottom: 50px;
   width: 100%;
 }

.slider {
  height: 600px;
  padding: 40px; 
  }

.slide {
  border-radius: 7px;
  border : 1px solid black;
  overflow: hidden;
  width:33%;
  position: absolute;
}

.slideMiddle {
  transform: translateZ(150px); 
  z-index:5;
  left:34%;
  top:25%;
 }

.slideRight {
  transform: rotateY(-0.3turn);
  top:25%;
  left:61%;
}

.slideLeft {
  transform: rotateY(0.3turn);
  left:7%;
  top:25%;
}

.slideDescription {
  width: 100%;
  background-color: white;
  margin: 0px;
  padding: 5px;
}

.slider h2 {
  width: 90%;
  font-size: 20px;
  margin: 0px;
}

.slider p {
  width: 90%;
}

.buttongroup {
position: relative;
height: 50px;
text-align: center;
color: rgb(220,220,220);
}

.fa-circle {
  margin-left: 5px;
  margin-right: 5px;
}

/* MAP */
#navig {
  border: black 2px solid;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
}

#map {
  height: 540px;
  width: 70%;
}

/* STATION */
#infos {
  width: 30%;
  padding-left: 15px;
  padding-right: 15px;
}

#detailStation {
  height: 335px;
}

#infosReservation {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-top : 10px;
}

/*RESERVEBOX */
#reservebox {
  width: 225px;
  height: 380px;
  background-color: white;
  border-radius: 6px;
  position: relative;
  left: 520px;
  top: -490px;
  margin-top: 10px;
  margin-bottom: -390px;
  box-shadow: 1.3px 2px 2px black;
  padding : 10px;
}

#reservebox input {
  margin-bottom: 4px;
}

#textReservation {
  margin: 5px;
}


.fa-caret-right {
position: absolute;
color: white;
left: 242px;
top: 273px;
text-shadow: 2px 0px 2px black;  
}

#reserve {
  position: static;
  top: 20px;
}

#noplace {
  color:red;
  font-weight:bold;
}

#delete {
  margin-bottom: 4px;
}

.button {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 4px;
}

.button-green {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.button-red {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}


/* CANVAS */
#signature {
  font-weight:bold;
  margin-top: 5px;
  margin-bottom: 3px;
}

#canvas {
  margin : 5px;
  border: solid black 1.5px;
  background-color: rgb(220,220,220);
  border-radius: 5px;
}